{% extends "base.html" %}

{% block container %}
    <div class="h-100 p-5 bg-light border rounded-3">
        <h1>Django E-Commerce</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis porro, 
            itaque enim dolores consequuntur quisquam facere recusandae suscipit magni 
            animi commodi corporis earum voluptatem alias. Voluptatibus nemo quod 
            debitis cumque.
        </p>
        <p>
            <a class="btn btn-outline-secondary">Saiba mais</a>
        </p>
    </div>
{% endblock container %}

{% block footer %}
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Termos e Privacidade</a>
                    </li>
                    <ul class="navbar-nav" style="position: absolute; right: 20px;">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Voltar ao Topo</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
{% endblock footer %}
