{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Registro | {{ block.super }}
{% endblock title %}

{% block container %}
<div class="row">
    <div class="col-md-8 col-md-offset-2 p-5 mb-4 bg-light rounded-3">
        <div class="page-header" style="padding-bottom: 15px;">
            <h1>Registro</h1>
        </div>
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {% for field in form %}
                <div class="form-group {% if field.errors %} has-error{% endif %}" style="padding-bottom: 10px;">
                    <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                    <div class="col-md-12">
                        {% render_field field class="form-control" %}
                        {% for error in field.errors %}
                            <br>
                            <span class="help-block alert-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            {% comment %} 
                <div class="form-group {% if form.password1.errors %} has-error{% endif %}" style="padding-bottom: 10px;">
                    <label for="{{ form.password1.auto_id }}" class="form-label">{{ form.password1.label }}</label>
                    <div class="col-md-12">
                        {% render_field form.password1 class="form-control" %}
                        {% for error in form.password1.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group {% if form.password2.errors %} has-error{% endif %}" style="padding-bottom: 10px;">
                    <label for="{{ form.password2.auto_id }}" class="form-label">{{ form.password2.label }}</label>
                    <div class="col-md-12">
                        {% render_field form.password2 class="form-control" %}
                        {% for error in form.password2.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div> 
            {% endcomment %}
            <div class="form-group">
                <div class="col-md-12 col-md-offset-3">
                  <button type="submit" class="btn btn-secondary" style="margin-top: 10px;">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock container %}

{% block footer %}
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Termos e Privacidade</a>
                </li>
                <ul class="navbar-nav" style="position: absolute; right: 20px;">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Voltar ao Topo</a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>
{% endblock footer %}