<div class="col-sm-6 col-md-4">
    <div class="card-body">
        <a href="{{ product.get_absolute_url }}" >
            <img src="http://placehold.it/350x250" alt="" class="card-img-top"/>
        </a>
        <div class="caption">
            <h3 class="card-title" style="padding-top: 20px;">{{ product }}</h3>
            <p class="card-text">{{ product.description | linebreaks }}</p>
            <p class="card-text">
                <a href="{{ product.get_absolute_url }}" class="btn btn-success" role="button">Detalhes</a> 
                <a href="{% url 'checkout:create_cartitem' product.slug %}" class="btn btn-secondary" role="button">
                    Adicionar
                </a>
            </p>
        </div>
    </div>
</div>