{% extends "base.html" %}

{% load pagination %}

{% block title %}
    {{ current_category }} | {{ block.super }}
{% endblock title %}

{% block container %}
    <div class="page-header">
        <h1>{{ current_category }}</h1>
    </div>
    <div class="row g-3 align-items-center">
        {% for product in product_list %}
            {% include "catalog/_product.html" %}
        {% endfor %}
    </div>
    {% pagination request paginator page_obj %}
{% endblock container %}

{% block footer %}
    <footer class="footer mt-auto py-3 bg-dark text-white sticky-md-botton">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <p class="d-flex justify-content-center align-items-center">
                    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="navbar-brand" href="">Início</a></li>
                            <li class="nav-item"><a class="navbar-brand" href="">Produtos</a></li>
                            <li class="nav-item"><a class="navbar-brand" href="">Contato</a></li>
                            <li class="nav-item"><a class="navbar-brand" href="">Termos e Privacidade</a></li>
                        </ul>
                        <span class="navbar-text">
                            <ul class="nav navbar-nav">
                                <li class="nav-item"><a class="navbar-brand" href="#">Voltar ao Topo</a></li>
                            </ul>
                        </span>
                    <nav>
                </p>
            </section>  
        </div>
    </footer>
{% endblock footer %}